
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
}
html{
    font-family: 'open sans', sans-serif;
    font-weigt:400;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background: hsl(218, 28%, 13%);
    color: white;
}


/* CSS for Navbar */
nav{
    display: flex;
    padding: 15px 20px 0 15px;
    background-color:  hsl(217, 28%, 15%);
    font-family: "Raleway" "Open-sans";
    font-weight: 400;
}
.Logo-image{
    max-width: 80px;
    margin-right: auto;    
}
a{
    display:inline-block;
    padding: 0 10px;
    color: hsl(0, 0%, 100%);
}
a:active{
    border-bottom: 1px solid hsl(176, 68%, 64%);
}
@media (min-width: 768px) {
    .Logo-image{
        max-width: 176px;
    }
    a{
        font-size: 25px;
    }

}

/* CSS for header section */
.header-image{
    background:  hsl(217, 28%, 15%) url(images/bg-curvy-mobile.svg) bottom no-repeat;
    background-size: 100% 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    font-family: "Raleway", "Open-sans";
}
.header-image img{
width: 70%;
height: auto;
margin-top: 40px;
}
.header-image h2{
    width: 80%;
    margin-bottom: 23px;
    font-size: 23px;
    font-weight: 700;
}
.header-image p{
    width: 80%;
    font-size: 13px;
    padding: 0 23px;
    font-weight: 400;
}

.header-button{
    background: linear-gradient(to right,  hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    width: 200px;
    padding: 10px 0;
    border-radius: 50px;
    border: none;
    margin: 30px 0;
    font-weight: 700;
    color: white;
}
@media (min-width:768px) {
    .header-image{
        background:  hsl(217, 28%, 15%) url(images/bg-curvy-desktop.svg) bottom no-repeat;
    }
    .header-image img{
        width: 80%; 
        height: 533; 
        }
    .header-image h2{
   
        width: 60%; 
        margin: 46px;
        font-size: 40px;
        }
        .header-image p{
            width: 50%;
            font-size: 20px;
            padding: 0 30px;
        }
    .header-button{
        width: 200px;
        padding: 10px 0;
    }
}

/* CSS for grids */
.container {
    width: 100%;
    height: auto;
    display: grid;
    gap: 50px;
    padding: 0 20px;
    margin: 50px 0;
    font-family: "open-sans", "Raleway";
}
.feature{
    text-align: center;
}
.feature h3{
    margin: 25px 0 12px 0;
    font-weight: 700;
}

@media (min-width:1000px) {
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 94px 150px;
        margin: 130px 0;
        padding: 0 280px;

    }
    .feature p{
        padding: 0 60px;
    }
}
@media (min-width:768px) {
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 70px;
        margin: 130px 0;
        padding: 0 80px;

    }
}
/* more description */

.extra-description{
    display: grid;
    font-family: "Raleway", "Open-sans";
}
.text-box{
    width: 90%;
    margin: 0 auto;
}
.text-box h2{
    font-size: 20px;
    font-weight: 700;
}
.text-box p{
    font-size: 15px;
    font-weight: 400;
}
.text-box span{
    font-size: 15px;
}
.text-box :not(:last-child){
    margin-bottom: 25px;
}
.desc-link{
    color: hsl(176, 68%, 64%);
    border-bottom: 1px solid hsl(176, 68%, 64%);
    font-size: 20px;
}
.desc-link img{
    vertical-align: middle;
    margin-left: 3px;
} 
img.img-box {
    width: 300px;
    margin: 0 auto;
}

@media (min-width:768px) {
    .extra-description{
        display: flex;
        flex-direction: row;
        padding: 0 50px;
    }
    .img-box{
        margin-right: 45px;
    }
    img.img-box {
        width: 400px;
        margin-right: 20px;
    }
 }

 @media (min-width:1000px) {
    .extra-description{
        display: flex;
        flex-direction: row;
        padding: 0 100px;
    }
    .img-box{
        height: 460px;
        
    }
    img.img-box {
        width: auto;
        margin-right: 45px;
    }
    .text-box h2{
        white-space: pre-line;
    }
 }
 
    
/* Testimonials */
.testimonials{
    display: grid;
    gap: 20px;
    margin: 100px 20px;
}
.testimonial{
    background: hsl(219, 30%, 18%);
    border-radius: 5px;
    width: 100%;
    padding: 25px 19px;
    font-size: 14px;
}
.quotation{
    height: 30px;
    margin-bottom: -105px;
    margin-left: 20px;
}
.details h3{
    font-size: 15px;

}
.details p{
    font-size: 10px;
}
.profile{
    display: flex;
}
.profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}
@media (min-width:768px) {
    .testimonials{
        display: grid;
        gap: 40px;
        margin: 100px 30pxpx;
    }
    .testimonial{
        padding: 45px 20px;
        border-radius: 5px;
    }
    .testimonial p{
        margin-bottom: 25px;
    }
}
@media (min-width:1000px) {
    .testimonials{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        gap: 15px;
        padding: 140px;
    }
    .testimonial{
        background: hsl(219, 30%, 18%);
        padding: 45px 20px;
        border-radius: 5px;
    }
    .testimonial p{
        margin-bottom: 25px;
    }
    .quotation{
        height: 40px;
        margin-bottom: -243px;
        margin-left: 160px;
    }
}
/* Sign up */
.linear-gradient{
    background: linear-gradient(hsl(218, 28%, 13%)50%, hsl(216, 53%, 9%) 50%);
}
.submit{
    background: linear-gradient(to right,  hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    width: 100%;
    padding: 10px 0;
    border-radius: 50px;
    border: none;
    font-weight: 700;
    color: white;
}
.sign-up{
    display: grid;
    grid-auto-flow : row;
    align-items: center;
    justify-content: center;
    background: hsl(217, 28%, 15%);
    padding: 40px 24px;
    border-radius: 5px;
    width: 95%;
    margin: 0 auto;
   
}

.sign-up h2{
    margin-bottom: 10px;
    font-size: 20px;
    text-align:center;
}
.sign-up p{
    margin-bottom: 16px;
    text-align: center;
    font-size: 15px;
}
input[type = "email"] {
    width: 100%;
    height: 35px;
    padding: 0px 23px;
    outline: none;
    border: none;
    border-radius: 50px;
    margin-bottom: 15px;
}
::placeholder{
    opacity: 0.4;
}  
@media (min-width:768px) {
    form{
        display: flex;
        align-content: center;
    }
    input[type = "email"] {
        width: 300px;
        height: 35px;
        padding: 15px 27px;
        outline: none;
        border: none;
        border-radius: 50px;
        margin-right: 10px;
    }

    .submit{
        width: 200px;
        height: 35px;
    } 
}
@media (min-width:1000px){
    .sign-up{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: hsl(217, 28%, 15%);
        padding: 50px 74px 40px 74px;
        border-radius: 5px;
        width: 60.5%;
        margin: 0 auto;
    }

    .sign-up h2{
        margin-bottom: 30px;
    }
    .sign-up p{
        margin-bottom: 36px;
        text-align: center;
    }
    form{
        display: flex;
        align-content: center;
    }
    input[type = "email"] {
        width: 420px;
        height: 40px;
        padding: 20px 47px;
        outline: none;
        border: none;
        border-radius: 50px;
        margin-right: 20px;
    }
    .submit{
        width: 200px;
        height: 40px;
    }  
}




/* footer */
footer{
    display: grid;
    grid-template-columns: 1fr;
    padding: 280px 27px 42px 27px;
    row-gap: 28px;
    grid-template-areas: 
    "logo"
    "location"
    "contact"
    "links"
    "more-links"
    "social-icons"
    ;
}
.social-icons i{
    font-size: 20px;
}
.fa-facebook{
    justify-self: end;
}
.fa-twitter{
    justify-self: center;
}
.fa-instagram{
    justify-self: start;
}
.footer-location{
    display: flex;
}
.footer-location img{
    height: 15px;
    margin-right: 10px;
}
.footer-contact{
    margin-right: 10px;
}
.footer-links,
.footer-more-links,
.footer-contact{
    display: grid;
    gap: 20px;
    margin-bottom: 30px;
}
.social-icons{
    margin-left: 35%;
}

@media (min-width:1000px){
footer{
    background: hsl(216, 53%, 9%);
    padding: 200px 80px 80px 100px;
    display: grid;
    grid-template-columns: 4fr 4fr 2fr 2fr 2fr;
    grid-template-rows: auto;
    column-gap: 50px;
    grid-template-areas: 
    "logo . . . ."
    "location contact links more-links social-icons"
    ;
}
.footer-logo{
    grid-area: logo;
    margin-bottom: 35px;
}
.footer-location{
    grid-area: location;
    display: flex;
}
.footer-location span{
    padding-left: 35px;
}
.footer-location img{
    margin-right: 20px;
}
.footer-contact{
    grid-area: contact;
}
.footer-contact p{
    margin-bottom: 26px;
}
.footer-contact img{
    margin-right: 24px;
}
.footer-links{
    grid-area: links;
    display: grid;
    grid-template-columns: 1fr;
}
.footer-links a{
    margin-bottom: 24px;
    font-size: 15px;
}
.footer-more-links{
    grid-area: more-links;
    display: grid;
    grid-template-columns: 1fr;
}
.footer-more-links a{
    margin-bottom: 24px;
    font-size: 15px;
}
.social-icons{
    grid-area: social-icons;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.social-icons i{
    font-size: 25px;
}
}










